*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    border: 1px dashed darkred;

}

li{
    list-style: none;
}
a{
    text-decoration: none;
    width: 100px;
    height: 50px;
}
.secondary-menu li{
    width: 100px;
    height: 25px;
}

.row{
    display:flex;
    width: 100%;
}

.d-flex{
    display:flex;
}

.flex-column{
    flex-direction: column;
}
.flex-row{
    flex-direction: row;
}

.justify-center{
    justify-content: center;
}

.align-items{
    align-items: center;
}
.events{
    width:80%;
    height: 500px;
    
}

.events:nth-child(1){
    display:none;
}

.py-20{
    padding-top:20px;
    padding-bottom:20px;
}

.secondary-menu{
    width:50%;
}
.secondary-menu li{
    padding:10px 20px;
    margin-left:10px;
    
}

ul button{
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: 600;
    font-size:18px;

}

.delete-button{
    background-color: rgb(197, 62, 62);
    color:#ffffff;   
}
.edit-button{
    background-color: #bfcc4b;
    color:black;
}

#task-list li,#event-list li{
    width:70%;
    display: flex;

}